body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.todo-app {
  width: 500px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.header {
  text-align: center;
  font-size: 100px;
  color: rgba(175, 47, 47, 0.15);
  font-weight: 100;
  margin-bottom: 20px;
}

.input {
  padding: 20px;
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
}

.input input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  outline: none;
  color: #4d4d4d;
  font-style: italic;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ededed;
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-item input[type='checkbox'] {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 14px;
  color: #777;
}

.filters button {
  margin: 0 5px;
  padding: 3px 7px;
  border: 1px solid #397DF6;
  border-radius: 3px;
  cursor: pointer;
  background: none;
}

.clear-completed {
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
}

.active {
  background-color: #397DF6 !important;
  color: #fff;
}

.todo-item input[type='checkbox'] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: border 0.2s ease, background 0.2s ease;
}

.todo-item input[type='checkbox']:checked {
  border-color: #397DF6;
  /*background-color: #4caf50;*/
}


.todo-item input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.todo-item input[type='checkbox']:checked::after {
  opacity: 1;
}

.arrow {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  user-select: none;
}

.arrow.open {
  transform: rotate(180deg);
}
